{{> admin-navbar}}

<div>

  <p class="font-bold p-4">Audit Log</p>

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">{{actionError}}</p>
  {{else if logs.length}}
    {{#each logs}}
      <div class="flex flex-col gap-2 p-4 border-t border-slate-200">
        <div>{{this.createdAt}}</div>
        <div>{{this.eventType}}</div>
        <div>{{this.actorType}}</div>
        <div>{{this.entityType}}</div>
        <div>{{this.message}}</div>
      </div>
    {{/each}}
  {{else}}
    <p class="p-4">No logs yet.</p>
  {{/if}}

</div>
