{{> admin-navbar}}

<div class="p-4">
  <a href="/admin/liveposts" class="underline text-slate-700">Back to live posts</a>
  <div class="border border-slate-200 rounded mt-4">
    <div class="flex flex-row">
      <div class="w-8 border-r border-slate-200 bg-slate-100"></div>
      <div class="flex-1">
        <div class="border-b border-slate-200 px-4 py-2">
          <div class="underline">{{post.heading}}</div>
          <div>{{post.subheading}}</div>
          <div>{{post.specialization}}</div>
        </div>
        <div class="border-b border-slate-200 px-4 py-2">
          <div class="flex flex-col text-slate-700">
            <span>{{post.startDate}}</span>
            <span>{{post.province}}, {{post.city}}</span>
            <span>{{post.contractType}}</span>
          </div>
        </div>
        <div class="border-b border-slate-200 px-4 py-2">
          <div class="flex flex-col text-slate-700">
            <span>Korean: {{proficiencyLabel post.koreanProficiency}}</span>
            <span>English: {{proficiencyLabel post.englishProficiency}}</span>
            {{#if post.otherLanguages}}<span>Other: {{post.otherLanguages}}</span>{{/if}}
            <span>Visa: {{post.visaSponsorship}}</span>
          </div>
        </div>
        <div class="border-b border-slate-200 px-4 py-2">
          <div class="flex flex-col text-slate-700">
            <span>Contact: {{post.contactMethod}}</span>
            {{#if post.contactUrl}}<span>URL: {{post.contactUrl}}</span>{{/if}}
            {{#if post.contactEmail}}<span>Email: {{post.contactEmail}}</span>{{/if}}
          </div>
        </div>
        <div class="border-b border-slate-200 px-4 py-2">
          <div class="flex flex-col text-slate-700">
            <span>ID: {{post.id}}</span>
            <span>Session: {{post.sessionId}}</span>
            <span>Tier: {{post.tier}}</span>
            <span>Slug: {{post.slug}}</span>
            <span>Published: {{post.publishedAt}}</span>
            <span>Expires: {{post.expiresAt}}</span>
          </div>
        </div>
        <div class="px-4 py-2">
          <p style="white-space: pre-line;">{{post.fullDescription}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
