{{> admin-navbar}}

<div class="flex flex-col gap-4 p-4">
  {{#if serverError}}
    <p class="text-slate-500 text-sm p-4">{{serverError}}</p>
  {{else}}
    {{#each posts}}
      <div class="border border-slate-200 rounded">
        <div class="flex flex-row">
          <div class="w-8 border-r border-slate-200 bg-slate-100"></div>
          <div class="flex-1">
            <div class="border-b border-slate-200 px-4 py-2">
              <div class="underline">{{this.heading}}</div>
            </div>
            <div class="border-b border-slate-200 px-4 py-2">
              <div class="flex flex-col text-slate-700">
                <span>{{this.email}}</span>
                <span>published {{this.publishedAt}}</span>
                <span>expires {{this.expiresAt}}</span>
              </div>
            </div>
            <div class="flex px-4 py-2">
              <a href="/admin/liveposts/{{this.id}}" class="text-blue-500 underline ml-auto">See details</a>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <p class="text-slate-500 text-sm p-4">No live posts.</p>
    {{/each}}
  {{/if}}
</div>
