{{> admin-navbar}}

<div>

  <p class="font-bold p-4">Live Posts</p>

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">{{actionError}}</p>
  {{else}}
    {{#each posts}}
      <div class="flex flex-col gap-2 p-4 border-t border-slate-200">
        <div>{{this.heading}}</div>
        <div>{{this.email}}</div>
        <div>published {{this.publishedAt}}</div>
        <div>expires {{this.expiresAt}}</div>
        <a href="/admin/liveposts/{{this.id}}" class="underline">See details</a>
      </div>
    {{else}}
      <p class="p-4">No live posts.</p>
    {{/each}}
  {{/if}}

</div>
