{{> admin-navbar}}

<h1 class="p-2">Live Posts</h1>

{{#if serverError}}
  <p class="p-2">Errors are happening</p>
{{else}}
  {{#each posts}}
    <div class="p-2 border-b">
      <span>{{this.id}}</span>
      <span>{{this.email}}</span>
      <span>{{this.heading}}</span>
      <span>{{this.publishedAt}}</span>
      <span>{{this.expiresAt}}</span>
      <a href="/admin/liveposts/{{this.id}}">See details</a>
    </div>
  {{else}}
    <p class="p-2">No live posts.</p>
  {{/each}}
{{/if}}
