{{> admin-navbar}}

<h1>Live Posts</h1>

{{#if serverError}}
  <p>Errors are happening</p>
{{else}}
  {{#each posts}}
    <div>
      <span>{{this.id}}</span>
      <span>{{this.email}}</span>
      <span>{{this.heading}}</span>
      <span>{{this.publishedAt}}</span>
      <span>{{this.expiresAt}}</span>
      <a href="/admin/liveposts/{{this.id}}">See details</a>
    </div>
  {{else}}
    <p>No live posts.</p>
  {{/each}}
{{/if}}
