{{> admin-navbar}}

<div>

  <p class="font-bold p-4">Queue</p>

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">{{actionError}}</p>
  {{else}}
    {{#each sessions}}
      <div class="flex flex-col gap-2 p-4 border-t border-slate-200">
        <div>{{this.email}}</div>
        <div>{{this.status}}</div>
        <div>{{this.createdAt}}</div>
        <div>expires {{this.expiresAt}}</div>
        <a href="/admin/queue/{{this.id}}" class="underline">See posts</a>
      </div>
    {{else}}
      <p class="text-slate-500 text-sm p-4">No sessions pending review.</p>
    {{/each}}
  {{/if}}

</div>
