{{> admin-navbar}}

<h1>Pending Queue</h1>

{{#if serverError}}
  <p>Errors are happening</p>
{{else}}
  {{#each sessions}}
    <div>
      <span>{{this.id}}</span>
      <span>{{this.email}}</span>
      <span>{{this.status}}</span>
      <span>{{this.createdAt}}</span>
      <span>{{this.expiresAt}}</span>
      <a href="/admin/queue/{{this.id}}">See posts</a>
    </div>

  {{else}}
    <p>No sessions pending review.</p>
  {{/each}}
{{/if}}