<div class="border border-[#CBCCCE]">

  <div>
    <div class="flex flex-row">
      <div class="flex-1">
        <div class="md:flex md:flex-row">

          <div class="md:flex-1 md:flex md:flex-col border-[#CBCCCE] p-4">
            <div class="text-xl mb-2">{{heading}}</div>
            <div>{{subheading}}</div>
          </div>

          <div
            class="flex flex-col gap-1 md:mt-0 md:w-60 border-[#CBCCCE] md:pl-4 p-4 rounded-r"
          >
            <span><i
                class="ph ph-read-cv-logo mr-2"
              ></i>{{specialization}}</span>
            <span><i class="ph ph-calendar-dot mr-2"></i>{{startDate}}</span>
            <span><i class="ph ph-map-pin-area mr-2"></i>{{city}},
              {{province}}</span>
            <span><i
                class="ph ph-hourglass-high mr-2"
              ></i>{{contractType}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="flex px-4 py-2 gap-4 border-t border-[#CBCCCE]">
    <a
      href="/manage/edit/{{id}}?token={{token}}"
      class="underline text-sm"
    >Edit</a>
    <form method="POST" action="/manage/extend/{{id}}?token={{token}}">
      <button type="submit" class="underline text-sm">Extend</button>
    </form>
    <form method="POST" action="/manage/delete/{{id}}?token={{token}}">
      <button type="submit" class="underline text-sm">Delete</button>
    </form>
  </div>

</div>