<div>
  <div>
    <span>{{startDate}}</span>
    >
    <span>{{province}}</span>
    >
    <span>{{city}}</span>
  </div>
  <div>
    <span>{{contractType}}</span>
    >
    <span>{{category}}</span>
    >
    <span>{{specialization}}</span>
  </div>
  <div>{{heading}}</div>
  <div>{{subheading}}</div>
  <div>
    <span>Korean: {{koreanProficiency}}</span>
    >
    <span>English: {{englishProficiency}}</span>
    >
    <span>Visa: {{visaSponsorship}}</span>
  </div>
</div>