<a href="/jobs/{{slug}}" class="block border-t border-slate-200 cursor-pointer">
  <div class="flex flex-row">

    <div class="flex-1">
      <div class="md:flex md:flex-row">

        <div class="md:flex-1 md:flex md:flex-col p-4 pb-0 md:pb-4">
          <div class="text-2xl mb-2 font-bold">{{heading}}</div>
          <div class="text-xl">{{subheading}}</div>
        </div>

        <div
          class="flex flex-col gap-1 md:w-75 p-4 font-mono uppercase tracking-wide text-sm"
        >
          <span><i class="ph ph-read-cv-logo mr-2"></i>{{specialization}}</span>
          <span><i class="ph ph-calendar-dot mr-2"></i>{{startDate}}</span>
          <span><i class="ph ph-map-pin-area mr-2"></i>{{city}},
            {{province}}</span>
          <span><i class="ph ph-hourglass-high mr-2"></i>{{contractType}}</span>
        </div>

      </div>
    </div>
  </div>
</a>