<div class="p-4">
  <a href="/jobs/{{slug}}" class="underline text-slate-700s">Back to listing</a>
  <p class="mt-6 px-4">Comment about privacy</p>
  <form method="POST" action="/jobs/{{slug}}/contact" class="mt-4">
    {{#if serverError}}
      <div class="px-4 py-2">
        <p class="text-slate-500 text-sm">{{serverError}}</p>
      </div>
    {{/if}}

    <input type="hidden" name="slug" value="{{slug}}" />
    <input type="hidden" name="heading" value="{{heading}}" />

    <div class="px-4 py-2">
      <label class="block uppercase tracking-wide text-sm" for="email">Your
        email</label>
      <input
        class="block w-full px-3 py-2 rounded border border-[#CBCCCE] bg-white text-slate-600"
        type="email"
        id="email"
        name="email"
        value="{{values.email}}"
        required
      />
      {{#if fieldErrors.email}}<p
          class="text-slate-500 text-sm"
        >{{fieldErrors.email}}</p>{{/if}}
    </div>

    <div class="px-4 py-2">
      <label
        class="block uppercase tracking-wide text-sm"
        for="message"
      >Message</label>
      <textarea
        class="block w-full h-60 px-3 py-2 rounded border border-[#CBCCCE] bg-white text-slate-600 resize-none"
        id="message"
        name="message"
        required
      >{{values.message}}</textarea>
      {{#if fieldErrors.message}}<p
          class="text-slate-500 text-sm"
        >{{fieldErrors.message}}</p>{{/if}}
    </div>

    <div class="flex px-4 py-2">
      <button
        type="submit"
        class="rounded border px-4 py-1 ml-auto"
      >Send</button>
    </div>
  </form>
</div>