<h1>Contact: {{heading}}</h1>

<form method="POST" action="/jobs/{{slug}}/contact" class="p-4 border border-slate-400 m-4">
  {{#if serverError}}
    <p>{{serverError}}</p>
  {{/if}}

  <input type="hidden" name="slug" value="{{slug}}" />
  <input type="hidden" name="heading" value="{{heading}}" />

  <div>
    <label class="block" for="email">Your email</label>
    <input
      class="block w-full border border-slate-400"
      type="email"
      id="email"
      name="email"
      value="{{values.email}}"
      required
    />
    {{#if fieldErrors.email}}<p>{{fieldErrors.email}}</p>{{/if}}
  </div>

  <div>
    <label class="block" for="message">Message</label>
    <textarea class="block w-full border border-slate-400 resize-none" id="message" name="message" required>{{values.message}}</textarea>
    {{#if fieldErrors.message}}<p>{{fieldErrors.message}}</p>{{/if}}
  </div>

  <div class="flex mt-8">
    <button type="submit" class="border-b-2 bg-slate-400 border-slate-500 text-slate-100 px-4 py-1 ml-auto">Send</button>
  </div>
</form>
