<div class="p-4 max-w-3xl w-full mx-auto">
  <a href="/jobs/board" class="underline text-slate-700">Back to listings</a>
  <div class="border border-slate-200 rounded mt-4">
    <div class="flex flex-row">
      <div class="w-8 border-r border-slate-200 bg-slate-100"></div>

      <div class="flex-1">

        <div class="border-b border-slate-200 px-4 py-2">
          <div class="text-xl">{{heading}}</div>
          <div>{{subheading}}</div>
          <div>{{specialization}}</div>
        </div>

        <div class="md:flex border-b border-slate-200">
          <div class="px-4 py-2 md:flex-1">
            <div class="flex flex-col text-slate-700">
              <span>{{startDate}}</span>
              <span>{{province}}, {{city}}</span>
              <span>{{contractType}}</span>
            </div>
          </div>

          <div
            class="px-4 py-2 md:flex-1 border-t border-slate-200 md:border-t-0 md:border-l"
          >
            <div class="flex flex-col text-slate-700">
              <span>Korean: {{proficiencyLabel koreanProficiency}}</span>
              <span>English: {{proficiencyLabel englishProficiency}}</span>
              {{#if otherLanguages}}
                <span>Other: {{otherLanguages}}</span>
              {{/if}}
              <span>Visa: {{visaSponsorship}}</span>
            </div>
          </div>
        </div>

        <div class="flex px-4 py-2">
          {{#if isRelay}}
            <a
              href="/jobs/{{slug}}/contact"
              class="text-blue-500 underline ml-auto"
            >Apply</a>
          {{else}}
            <a
              href="{{contactUrl}}"
              class="text-blue-500 underline ml-auto"
            >Apply</a>
          {{/if}}
        </div>

      </div>
    </div>

    <div
      class="flex flex-col gap-4 border-t border-slate-200 p-4 text-slate-700"
    >
      <div class="flex flex-col gap-2">
        <p style="white-space: pre-line;">{{fullDescription}}</p>
      </div>

      <div class="flex flex-col gap-2">
        {{#if isRelay}}
          <a
            href="/jobs/{{slug}}/contact"
            class="w-full p-2 text-center text-white bg-blue-500 rounded"
          >Contact poster</a>
        {{else}}
          <a
            href="{{contactUrl}}"
            class="w-full p-2 text-center text-white bg-blue-500 rounded"
          >Apply here</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>