<div class="p-4 max-w-4xl w-full mx-auto">
  <a href="/jobs/board" class="underline">Back to listings</a>
  <div class="mt-4">
    <div class="flex flex-row">

      <div class="flex-1">

        <div class="px-4 py-6">
          <div
            class="text-2xl font-display mb-2 underline decoration-[#41C3DD] decoration-2"
          >{{heading}}</div>
          <div>{{subheading}}</div>
        </div>

        <div class="md:flex gap-4 px-4">
          <div class="p-4 md:flex-1 bg-[#E5E7E9] rounded">
            <div class="flex flex-col gap-2">
              <div><i
                  class="ph ph-read-cv-logo mr-2"
                ></i>{{specialization}}</div>
              <span><i class="ph ph-calendar-dot mr-2"></i>{{startDate}}</span>
              <span><i class="ph ph-map-pin-area mr-2"></i>{{province}},
                {{city}}</span>
              <span><i
                  class="ph ph-hourglass-high mr-2"
                ></i>{{contractType}}</span>
            </div>
          </div>

          <div class="p-4 md:flex-1 mt-4 md:mt-0 bg-[#E5E7E9] rounded">
            <div class="flex flex-col gap-2">
              <span><i class="ph ph-translate mr-2"></i>Korean:
                {{proficiencyLabel koreanProficiency}}</span>
              <span><i class="ph ph-translate mr-2"></i>English:
                {{proficiencyLabel englishProficiency}}</span>
              {{#if otherLanguages}}
                <span><i class="ph ph-translate mr-2"></i>Other:
                  {{otherLanguages}}</span>
              {{/if}}
              <span><i class="ph ph-file-text mr-2"></i>Visa:
                {{visaSponsorship}}</span>
            </div>
          </div>
        </div>

        <div class="flex px-4 py-2">
          <a href="/" class="text-red-500 underline ml-auto">Report</a>
        </div>

      </div>
    </div>

    <div class="flex flex-col gap-4 px-4 py-6">
      <div class="flex flex-col gap-2">
        <p style="white-space: pre-line;">{{fullDescription}}</p>
      </div>

      <div class="flex flex-col gap-2">
        {{#if isRelay}}
          <a
            href="/jobs/{{slug}}/contact"
            class="shadow-sm w-full p-2 text-center text-white bg-[#41C3DD] uppercase tracking-widest rounded font-semibold"
          >Contact poster</a>
        {{else}}
          <a
            href="{{contactUrl}}"
            class="w-full p-2 text-center text-white bg-[#41C3DD] uppercase tracking-widest rounded font-semibold"
          >Apply here</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>