{{! views/jobs/new.hbs }}
<form action="/jobs/new" method="POST" {{#if fieldErrors}}data-has-errors{{/if}} {{#if serverError}}data-has-errors{{/if}} class="p-8">

{{#if serverError}}
  <p>{{serverError}}</p>
{{/if}}

  <div class="step">
    <div class="step__content">
      <fieldset>
        <legend>How do you want to be contacted?</legend>

        {{#each jobFormOptions.contactMethod}}
          <label class="block">
            <input
              type="radio"
              name="contactMethod"
              value="{{this}}"
              required
              {{#if (eq ../values.contactMethod this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}

        {{#if fieldErrors.contactMethod}}
          <div data-error="contactMethod">{{fieldErrors.contactMethod.[0]}}</div>
        {{/if}}

        <div
          data-contact-field="link"
          {{#unless (eq values.contactMethod "link")}}hidden{{/unless}}
        >
          <label class="block" for="contactUrl">URL</label>
          <input
            id="contactUrl"
            name="contactUrl"
            type="url"
            value="{{values.contactUrl}}"
            class="block w-full border border-slate-300"
          />
          {{#if fieldErrors.contactUrl}}
            <div data-error="contactUrl">{{fieldErrors.contactUrl.[0]}}</div>
          {{/if}}
        </div>

        <div
          data-contact-field="relay"
          {{#unless (eq values.contactMethod "relay")}}hidden{{/unless}}
        >
          <p>We'll use your email: <strong>{{sessionEmail}}</strong></p>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <div>
        <label class="block" for="heading">Heading</label>
        <input
          id="heading"
          name="heading"
          type="text"
          class="block w-full border border-slate-300"
          required
          value="{{values.heading}}"
        />
        {{#if fieldErrors.heading}}
          <div data-error="heading">{{fieldErrors.heading.[0]}}</div>
        {{/if}}
      </div>

      <div>
        <label class="block" for="subheading">Subheading</label>
        <input
          id="subheading"
          name="subheading"
          type="text"
          class="block w-full border border-slate-300"
          required
          value="{{values.subheading}}"
        />
        {{#if fieldErrors.subheading}}
          <div data-error="subheading">{{fieldErrors.subheading.[0]}}</div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <fieldset>
        <legend>Category</legend>

        {{#each jobFormOptions.category}}
          <label class="block">
            <input
              type="radio"
              name="category"
              value="{{this}}"
              required
              {{#if (eq ../values.category this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>

      <fieldset>
        <legend>Specialization</legend>

        {{#each jobFormOptions.specialization}}
          <label class="block">
            <input
              type="radio"
              name="specialization"
              value="{{this}}"
              required
              {{#if (eq ../values.specialization this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <fieldset>
        <legend>Province</legend>

        {{#each jobFormOptions.province}}
          <label class="block">
            <input
              type="radio"
              name="province"
              value="{{this}}"
              required
              {{#if (eq ../values.province this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>

      <fieldset>
        <legend>City</legend>

        {{#each jobFormOptions.city}}
          <label class="block">
            <input
              type="radio"
              name="city"
              value="{{this}}"
              required
              {{#if (eq ../values.city this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <fieldset>
        <legend>Korean proficiency</legend>

        {{#each jobFormOptions.koreanProficiency}}
          <label class="block">
            <input
              type="radio"
              name="koreanProficiency"
              value="{{value}}"
              required
              {{#if (eq (toString ../values.koreanProficiency) (toString value))}}checked{{/if}}
            />
            {{label}}
          </label>
        {{/each}}
      </fieldset>

      <fieldset>
        <legend>English proficiency</legend>

        {{#each jobFormOptions.englishProficiency}}
          <label class="block">
            <input
              type="radio"
              name="englishProficiency"
              value="{{value}}"
              required
              {{#if (eq (toString ../values.englishProficiency) (toString value))}}checked{{/if}}
            />
            {{label}}
          </label>
        {{/each}}
      </fieldset>

      <div>
        <label class="block" for="otherLanguages">Other languages</label>
        <input
          id="otherLanguages"
          name="otherLanguages"
          type="text"
          class="block w-full border border-slate-300"
          value="{{values.otherLanguages}}"
        />
        {{#if fieldErrors.otherLanguages}}
          <div data-error="otherLanguages">{{fieldErrors.otherLanguages.[0]}}</div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <fieldset>
        <legend>Visa sponsorship</legend>

        {{#each jobFormOptions.visaSponsorship}}
          <label class="block">
            <input
              type="radio"
              name="visaSponsorship"
              value="{{this}}"
              required
              {{#if (eq ../values.visaSponsorship this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <fieldset>
        <legend>Contract type</legend>

        {{#each jobFormOptions.contractType}}
          <label class="block">
            <input
              type="radio"
              name="contractType"
              value="{{this}}"
              required
              {{#if (eq ../values.contractType this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>

      <fieldset>
        <legend>Start date</legend>

        {{#each jobFormOptions.startDate}}
          <label class="block">
            <input
              type="radio"
              name="startDate"
              value="{{this}}"
              required
              {{#if (eq ../values.startDate this)}}checked{{/if}}
            />
            {{this}}
          </label>
        {{/each}}
      </fieldset>
    </div>
  </div>

  <div class="step" hidden>
    <div class="step__content">
      <div>
        <label class="block" for="fullDescription">Full description</label>
        <textarea
          class="block w-full h-[40%] border border-slate-300 resize-none p-2"
          id="fullDescription"
          name="fullDescription"
          required
        >{{values.fullDescription}}</textarea>
        {{#if fieldErrors.fullDescription}}
          <div data-error="fullDescription">{{fieldErrors.fullDescription.[0]}}</div>
        {{/if}}
      </div>
    </div>
  </div>

  <nav class="step__nav flex flex-rows mt-8">
    <button type="button" class="btn-back disabled:opacity-50 underline">Back</button>
    <button type="button" class="btn-next disabled:opacity-50 ml-auto px-4 py-1 rounded-full bg-green-500 text-white">Next</button>
    <button type="button" class="btn-last-next disabled:opacity-50 ml-auto px-4 py-1 rounded-full bg-green-500 text-white">Next</button>
    <button type="button" class="btn-back-to-review disabled:opacity-50 ml-auto px-4 py-1 rounded-full bg-slate-500 text-white" hidden>Back to review</button>
  </nav>


  <div class="review" hidden>
    <div class="flex flex-rows justify-end space-x-8 px-4">
      <button type="submit" formaction="/jobs/new/add-another" class="btn-add-another underline">Add another job</button>
      <button type="submit" class="btn-confirm px-4 py-1 rounded-full bg-green-500 text-white">Confirm</button>
    </div>
  </div>

</form>

{{#if drafts}}
<div class="drafts-bar fixed bottom-0 left-0 right-0 border-t bg-slate-100 border-slate-300 p-4">
  <div class="flex flex-rows justify-between">
    <div>
      {{#each drafts}}
        <div>
          {{this.heading}}
        </div>
      {{/each}}
    </div>
    <div>
      <a href="/jobs/drafts" class="px-4 py-1 rounded-full bg-slate-500 text-white">See drafts</a>
    </div>
  </div>
</div>



{{else if draftsError}}
<div>
  <p>Could not load drafts.</p>
</div>
{{/if}}

<script src="/new.js" defer></script>
